{
  "TOKEN": "MTA2NjgwNDU3NzIxMjU3MTc0MA.GDnda_.KqiMydGojFl-ucVh0KVS2BD2HYvO5_DJKcEStI",
  "MAX_PLAYLIST_SIZE": 10,
  "PREFIX": "!",
  "PRUNING": false,
  "LOCALE": "en",
  "STAY_TIME": 30,
  "DEFAULT_VOLUME": 100
}
